@charset "utf-8";
/* CSS Document */

html {
    scroll-behavior: smooth;
}

/******* Common Element CSS Start ******/
* {
    margin: 0px;
    padding: 0px;
    outline: none;
}
.footer{
    text-align: center;
    font-family:'Alegreya', serif;
    color: #b785bb;
    font-size: 12px;
    padding: 2rem;

}
.button{
    font-size: 2rem;
    background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-weight: bold;
    text-align: center;
}
body {
    background-color: #E2DFD2;
}

#intro {
    text-align: center;
    font-family:'Sorts Mill Goudy', serif;
}

.beginning {
    text-align: center;
    border: 3px white;
    padding: 50px;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    margin: 0;
    padding: 0;
    color: white
    ;
}
.wavy {
    position: relative;
}
.wavy span {
    position: relative;
    display: inline-block;
    font-size: 2em;
    animation: animate 1s ease-in-out infinite;
}
@keyframes animate {
    0%
    {
        transform: translateY(0px);
    }
    20%
    {
        transform: translateY(-20px);
    }
    40%, 100%
    {
        transform: translateY(0px);
    }
}
.description{
    text-align: center;
    
}
.titles{
    color: white;
    width: 30rem;
    font-size: 12px;
    text-align: center;
}
a:link{
    text-decoration: none;
}

.main-container {
    min-height: 100vh;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    height: 560px;
    overflow: hidden;
}

.main {
    margin: 0px auto;
    width: 480px;
    height: 480px;
    position: relative;
}

.big-circle {
    height: 100%;
    width: 100%;
    position: relative;
    border: 3px solid #ffffff;
    border-radius: 50%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    animation: Rotate 20s linear infinite;
    -webkit-animation: Rotate 20s linear infinite;
}

.grow { 
    transition: all .2s ease-in-out; 
    }
    
    .grow:hover { 
    transform: scale(1.5); 
    }

.icon-block {
    width: 64px;
    height: 64px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    background-color: #e6add9;
    /*background-image: linear-gradient(180deg, #00539CFF 0%, #EEA47FFF 100%);
    -webkit-background-image: linear-gradient(180deg, #4967e6 0%, #627bf4 100%);
    box-shadow: 0 2px 4px 0 #3e5ada;
    -webkit-box-shadow: 0 2px 4px 0 #3e5ada; */
    cursor: pointer;
}

.apple {
    margin: 0px auto;
    width: 40%;
    animation: Rotate-reverse 20s linear infinite;
    -webkit-animation: Rotate-reverse 20s linear infinite;
    font-family: 'Hammersmith One', sans-serif;
}

.icon-block:first-child {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.icon-block:nth-child(2) {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
}

.icon-block:nth-child(3) {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
}

.icon-block:nth-child(4) {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

/* circle content */
.circle {
    animation: circle-rotate 20s linear infinite;
    -webkit-animation: circle-rotate 20s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    width: 75%;
    height: 75%;
    border: 3px solid #FBEAEB;
    border-radius: 50%;
    
}

.circle .icon-block img {
    animation: img-rotate 20s linear infinite;
    -webkit-animation: img-rotate 20s linear infinite;
}

/* center logo */
.center-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.center-logo img {
    max-width: 200px;

    clip-path: circle();
}
.icn-spinner {
    animation: img-rotate 12s infinite;
    display: inline-block;
  }
  

/* keyframe animation */

@keyframes Rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes Rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes Rotate-reverse {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes Rotate-reverse {
    from {
        -webkit-transform: rotate(360deg);
    }

    to {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes circle-rotate {
    from {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(405deg);
    }
}

@-webkit-keyframes circle-rotate {
    from {
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
    }

    to {
        -webkit-transform: translate(-50%, -50%) rotate(405deg);
    }
}

@keyframes svg-rotate {
    from {
        transform: rotate(-45deg);
    }

    to {
        transform: rotate(-405deg);
    }
}

@-webkit-keyframes svg-rotate {
    from {
        -webkit-transform: rotate(-45deg);
    }

    to {
        -webkit-transform: rotate(-405deg);
    }
}