.intro{
    font-family: 'Pathway Gothic One', sans-serif;
    text-align: center;
    color: #b1cfdf;
    font-size: 30px;
}
.boxed {
    background-color: rgba(52, 97, 76, 0.542);
    width: 50%;
    height: 400px;
    margin: auto;
    text-align: center;
    box-shadow:
  66.4px 121.5px 7.6px -2px rgba(0, 0, 0, 0.047),
  64px 117.1px 19.7px -2px rgba(0, 0, 0, 0.062),
  68px 124.4px 44.3px -2px rgba(0, 0, 0, 0.067),
  77px 141px 133px -2px rgba(0, 0, 0, 0.07);
}

body{
    background-color: #759465;
}
.description{
    font-size: 25px;
    font-family: 'Pathway Gothic One', sans-serif;
    color: #b1cfdf;
    padding: 15px;
    width: 95%;
    text-align: center;
}
a:visited{
    color: rgb(45, 79, 62);
}
.footer{
    text-align: center;
    font-family:'Alegreya', serif;
    color: #b1cfdf;
    font-size: 12px;
    padding: 2rem;

}